@import "tailwindcss";

[data-format="h1"] {
	@apply text-4xl font-bold;
}

[data-format="h2"] {
	@apply text-3xl font-bold;
}

[data-format="h3"] {
	@apply text-2xl font-bold;
}

[data-format="h4"] {
	@apply text-xl font-bold;
}

[data-format="h5"] {
	@apply text-lg font-semibold;
}

input[data-format="list"] {
	position: relative;
    display: block;
    padding-left: 2em !important;
    border: none;
    outline: none;
    background: transparent;
    background-image: radial-gradient(circle, black 0.25em, transparent 0.25em);
    background-repeat: no-repeat;
    background-position: calc(-50vw + 2rem) center;
}

.row {
	display: flex;
	gap: 1rem; /* space between columns */
}

.col {
	flex: 1; /* equal width columns */
	display: flex;
	flex-direction: column;
}

img {
	align-self: flex-start;
	height: 6rem;
	@apply rounded border;
}

img + img {
	margin-top: 0.5em;
}